<div class="container">
  <div class="page-header">
    <div class="row">
      <h1 class="text-center">Recipe Recommendations</h1>
    </div>
  </div>

  <h1 class="text-center">Starters</h1>
  <% unless @recommendations_starter[0].nil? %>
      <% @recommendations_starter[0].each do |recipe, score| %>
          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
  <h3 class="text-center">Alternatives:</h3>
  <% unless @recommendations_starter[1].nil? %>

      <% @recommendations_starter[1].each do |recipe, score| %>
          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>

  <h1 class="text-center">Main Courses</h1>
  <% unless @recommendations_main[0].nil? %>
      <% @recommendations_main[0].each do |recipe, score| %>


          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
  <h3 class="text-center">Alternatives:</h3>
  <% unless @recommendations_main[1].nil? %>
      <% @recommendations_main[1].each do |recipe, score| %>
          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>

  <h1 class="text-center">Desserts</h1>
  <% unless @recommendations_dessert[0].nil? %>
      <% @recommendations_dessert[0].each do |recipe, score| %>
          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
  <h3 class="text-center">Alternatives:</h3>
  <% unless @recommendations_dessert[1].nil? %>
      <% @recommendations_dessert[1].each do |recipe, score| %>
          <div class="row">
            <%= link_to recipe_path(recipe) do %>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <div class="media">
                        <div class="media-left media-middle">
                          <%= image_tag(recipe.picture_url, :alt => "recipes", class: "media-object img-rounded", width: "80", height: "60") %>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading text-center"><%= recipe.name %> <span class="badge badge-pill badge-success"><%= sprintf("%#.2f",score)%></span></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            <% end %>
          </div>
      <% end %>
  <% end %>
</div>